.main-footer-top
  .container
    .main-footer-top__inner
      .logo
        a.logo__link(href="/")
          img.logo__image(src="img/logo.png", alt="")
      .footer-menu.footer-menu_01
        ul.footer-menu-items
          li.footer-menu__item
            a.footer-menu__link(href="#study") О нас
          li.footer-menu__item
            a.footer-menu__link(href="#programs") Программы обучения
          li.footer-menu__item
            a.footer-menu__link(href="#") Политика конфиденциальности
      .footer-menu.footer-menu_02
        ul.footer-menu-items
          li.footer-menu__item
            a.footer-menu__link(href="#ending") Дипломы и трудоустройство
          li.footer-menu__item
            a.footer-menu__link(href="#faq") Вопросы и ответы
      .footer-contacts
        p.footer-contacts__address 192174, Санкт-Петербург, <br>ул. Бабушкина, д.119
        a.footer-contacts__phone(href="tel:+78123672168") +7 (812) 367-21-68
        p.footer-contacts__whours ежедневно с 9:00 до 21:00
        a.footer-contacts__email(href="mailto:info@mir-kursov.ru") info@mir-kursov.ru
