.main-header-top
  .container
    .main-header-top__inner
      .logo
        a.logo__link(href="/")
          img.logo__image(src="img/logo.png" alt="")
      .header-contacts
        p.header-contacts__address 192174, Санкт-Петербург, <br>ул. Бабушкина, 119
        a.header-contacts__email(href="mailto:info@mir-kursov.ru") info@mir-kursov.ru
        a.header-contacts__callback.a-btn-h(href="#callback")
          span Обратный звонок
      .header-phone.header-phone_01
        p.header-phone__title Офис
        a.header-phone__link(href="tel:+78123672168") +7 (812) 367-21-68
        p.header-phone__whours ежедневно с 9:00 до 18:00
      .header-phone.header-phone_02
        p.header-phone__title Руководитель проекта <br>Шаргунова Ирина Александровна
        a.header-phone__link(href="tel:+79216329782") +7 (921) 632-97-82
        p.header-phone__whours ежедневно с 9:00 до 21:00
