.main-header-bottom
  .container
    .main-menu
      ul.main-menu-items
        li.main-menu__item
          a.main-menu__link(href="#study") О нас
        li.main-menu__item
          a.main-menu__link(href="#programs") Программа  обучения
        li.main-menu__item
          a.main-menu__link(href="#ending") Дипломы и свидетельства
        li.main-menu__item
          a.main-menu__link(href="#faq") Вопросы и ответы
