-
  const menu = [
    { href: '#study', text: 'О нас' },
    { href: '#programs', text: 'Программа обучения' },
    { href: '#ending', text: 'Дипломы и свидетельства' },
    { href: '#faq', text: 'Вопросы и ответы' }
  ]

.main-header-bottom
  .container
    .main-menu
      ul.main-menu-items
        each item in menu
          li.main-menu__item
            a.main-menu__link(href=item.href)= item.text
