doctype html
head
  meta(charset='utf-8')
  title Курсы операторов станков с ЧПУ. Курсы наладчиков станков с ЧПУ. Мир Курсов, Санкт-Петербург, тел. +7 (812) 367-21-68
  meta(name='description' content='Обучение операторов ЧПУ в Санкт-Петербурге. Проводим обучение на станках с ЧПУ: повышение квалификации и разряда, переподготовка. Курсы наладчиков станков с ЧПУ и операторов от 12000 рублей. Курсы ЧПУ при СПБ ГБПОУ НМТ. Тел. +7 (812) 367-21-68')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/libs.min.css')
  link(rel='stylesheet' href='css/style.css')
body
  .main-header
    .main-header-top
      .container
        .main-header-top__inner
          .logo
            a.logo__link(href="/")
              img.logo__image(src="img/logo.png" alt="")
          .header-contacts
            p.header-contacts__address 192174, Санкт-Петербург, <br>ул. Бабушкина, 119
            a.header-contacts__email(href="mailto:info@mir-kursov.ru") info@mir-kursov.ru
            a.header-contacts__callback.a-btn-h(href="#callback")
              span Обратный звонок
          .header-phone.header-phone_01
            p.header-phone__title Офис
            a.header-phone__link(href="#") +7 (812) 367-21-68
            p.header-phone__whours ежедневно с 9:00 до 18:00
          .header-phone.header-phone_02
            p.header-phone__title Руководитель проекта <br>Шаргунова Ирина Александровна
            a.header-phone__link(href="#") +7 (921) 632-97-82
            p.header-phone__whours ежедневно с 9:00 до 21:00
    .main-header-bottom
      .container
        .main-menu
          ul.main-menu-items
            li.main-menu__item
              a.main-menu__link(href="#study") О нас
            li.main-menu__item
              a.main-menu__link(href="#programs") Программа  обучения
            li.main-menu__item
              a.main-menu__link(href="#ending") Дипломы и свидетельства
            li.main-menu__item
              a.main-menu__link(href="#faq") Вопросы и ответы
  .main-content
    .intro
      .container
        .intro__inner
          .intro__left
            h1.intro__header Курсы операторов станков <br>с ЧПУ и наладчиков
            p.intro__subheader Повысьте квалификацию или разряд <br>и получайте зарплату выше на 15–30%
          .intro__right
            form.intro-form
              p.intro-form__header Ознакомительное занятие курсов ЧПУ бесплатно
              p.intro-form__text Оставьте заявку
              input.intro-form__name(placeholder='Ваше имя')
              input.intro-form__phone(placeholder='+7 (___) ___-__-__' name='phone' required)
              button.intro-form__submit.btn.a-btn-v(type='submit')
                span Отправить
    .study#study
      .container
        h2.study__header Обучение операторов ЧПУ и наладчиков
        p.study__subheader Престижное образование на базе Невского машиностроительного техникума
        p.study__text С 1965 года занимаемся подготовкой кадров для работы со станками с ЧПУ. Предлагаем программы повышения разряда и квалификации, подготовки и переподготовки. Среди наших преподавателей 12 кандидатов и 3 доктора наук с опытом в производственной сфере более 15 лет, они ежегодно повышают квалификацию, поэтому слушатели получают актуальные знания и приступить к работе после квалификационных экзаменов.
        .study-items
          .study__item
            .study__item-image-part
              img.study__item-image(src="img/study-01.svg" alt="")
            .study__item-text-part
              p.study__item-header Любой разряд <br>и квалификация
              p.study__item-text Вы&nbsp;повысите профессиональную компетенцию до&nbsp;разных уровней: в&nbsp;центре есть занятия на&nbsp;разряды с&nbsp;3&nbsp;по&nbsp;6, а&nbsp;квалификационные курсы доступны ежегодно
          .study__item
            .study__item-image-part
              img.study__item-image(src="img/study-02.svg" alt="")
            .study__item-text-part
              p.study__item-header Диплом <br>гособразца
              p.study__item-text Вы&nbsp;получите документ подтверждающий подготовку на&nbsp;государственном уровне. Такой сертификат ценится выше удостоверений других центров
          .study__item
            .study__item-image-part
              img.study__item-image(src="img/study-03.svg" alt="")
            .study__item-text-part
              p.study__item-header Помощь <br>в трудоустройстве
              p.study__item-text У&nbsp;вас появится шанс устроиться на&nbsp;производство в&nbsp;Санкт-Петербурге и&nbsp;области. Сотрудничаем с&nbsp;60&nbsp;отраслевыми предприятиями, где проходят практику наши слушатели
    .programs#programs
      .container
        h2.programs__header Программы обучения на станках с ЧПУ
        .programs-tabs-block.tabs-block
          .programs-tabs-controls.tabs-controls
            .programs-tabs__control.tabs__control Оператор
            .programs-tabs__control.tabs__control Наладчик
            .programs-tabs__control.tabs__control Оператор-наладчик
          .programs-tabs__content.tabs__content
            p.programs__text Слушатели узнают, принцип работы обслуживаемых станков, правила управления ими, назначение условных знаков на панели управления, правила чтения чертежей, освоят систему допусков и посадок.
            p.programs__header_small После окончания курсов операторов станков с ЧПУ выпускники смогут:
            ul.programs-list
              li.programs-list__item читать техническое задание,
              li.programs-list__item контролировать работу систем обслуживания станка,
              li.programs-list__item вводить программы для изготовления деталей,
              li.programs-list__item проверять качество готовой продукции,
              li.programs-list__item установить и снять изделие после обработки.
            table.programs-table
              thead
                tr
                  td Категория курса
                  td Описание
                  td Кол-во часов
                  td Цена, руб
              tbody
                tr
                  td Повышение разряда
                  td Получение нового квалификационного уровня для допуска к более сложной работе и ответственной должности
                  td 16
                  td 12 000
                tr
                  td Повышение квалификации
                  td Комплексное обучение актуальным методам работы, техническим и правовым нововведениям
                  td 72
                  td 25 000
                tr
                  td Подготовка/Переподготовка
                  td Подготовка кадров для производственных предприятий с нуля или на базе полученного ранее образования
                  td 120
                  td 37 000
            p.programs__header_small(style='text-align:center;') Ближайшие занятия пройдут:
            .programs-items
              .programs__item
                p.programs__item-text Повышение разряда
                p.programs__item-date 1 июля 2017 года
              .programs__item
                p.programs__item-text Повышение квалификации
                p.programs__item-date 5 июля 2017 года
              .programs__item
                p.programs__item-text Подготовка/переподготовка
                p.programs__item-date 10 июля 2017 года
            a.programs__button.btn.a-btn-v(href="#callback")
              span Отправить заявку
          .programs-tabs__content.tabs__content
            p.programs__text Слушатели узнают, как устроено металлорежущее оборудование и установленные на нем программы, научатся диагностировать состояние разных типов станков, ремонтировать их и настраивать для конкретных производственных задач.
            p.programs__header_small После окончания курсов наладчиков станков с ЧПУ выпускники смогут:
            ul.programs-list
              li.programs-list__item выявлять неисправности станков,
              li.programs-list__item устранять программные ошибки,
              li.programs-list__item проверять работу в мануальном режиме,
              li.programs-list__item проводить пусконаладку оборудования.
            table.programs-table
              thead
                tr
                  td Категория курса
                  td Описание
                  td Кол-во часов
                  td Цена, руб
              tbody
                tr
                  td Повышение разряда
                  td Получение нового квалификационного уровня для допуска к более сложной работе и ответственной должности
                  td 16
                  td 12 000
                tr
                  td Повышение квалификации
                  td Комплексное обучение актуальным методам работы, техническим и правовым нововведениям
                  td 72
                  td 25 000
                tr
                  td Подготовка/Переподготовка
                  td Подготовка кадров для производственных предприятий с нуля или на базе полученного ранее образования
                  td 120
                  td 45 000
            p.programs__header_small(style='text-align:center;') Ближайшие занятия пройдут:
            .programs-items
              .programs__item
                p.programs__item-text Повышение разряда
                p.programs__item-date 1 июля 2017 года
              .programs__item
                p.programs__item-text Повышение квалификации
                p.programs__item-date 5 июля 2017 года
              .programs__item
                p.programs__item-text Подготовка/переподготовка
                p.programs__item-date 10 июля 2017 года
            a.programs__button.btn.a-btn-v(href="#callback")
              span Отправить заявку
          .programs-tabs__content.tabs__content
            p.programs__text Комплексная программа. Слушатели разберутся в работе различных типов станков, смогут проверить качество производимой продукции, провести диагностику оборудования и устранить типичные неисправности и ошибки программы.
            p.programs__header_small После окончания курсов выпускники смогут:
            ul.programs-list
              li.programs-list__item сориентироваться в типах станков,
              li.programs-list__item проверить исправность оборудования,
              li.programs-list__item написать программу для изготовления детали,
              li.programs-list__item устранить типичные ошибки в работе техники.
            table.programs-table
              thead
                tr
                  td Категория курса
                  td Описание
                  td Кол-во часов
                  td Цена, руб
              tbody
                tr
                  td Повышение разряда
                  td Получение нового квалификационного уровня для допуска к более сложной работе и ответственной должности
                  td 16
                  td 12 000
                tr
                  td Повышение квалификации
                  td Комплексное обучение актуальным методам работы, техническим и правовым нововведениям
                  td 72
                  td 25 000
                tr
                  td Подготовка/Переподготовка
                  td Подготовка кадров для производственных предприятий с нуля или на базе полученного ранее образования
                  td 120
                  td 45 000
            p.programs__header_small(style='text-align:center;') Ближайшие занятия пройдут:
            .programs-items
              .programs__item
                p.programs__item-text Повышение разряда
                p.programs__item-date 1 июля 2017 года
              .programs__item
                p.programs__item-text Повышение квалификации
                p.programs__item-date 5 июля 2017 года
              .programs__item
                p.programs__item-text Подготовка/переподготовка
                p.programs__item-date 10 июля 2017 года
            a.programs__button.btn.a-btn-v(href="#callback")
              span Отправить заявку
    .ending#ending
      .container
        h2.ending__header После прохождения курсов <br>слушатели получают
        .ending-items
          .ending__item
            .ending__item-image-part
              a.ending__item__link(href="img/ending-01.png")
                img.ending__item-image(src="img/ending-01.png", alt="Государственное свидетельство")
            .ending__item-text-part Государственное свидетельство <br>о профессиональной переподготовке
          .ending__item
            .ending__item-image-part
              a.ending__item__link(href="img/ending-02.png")
                img.ending__item-image(src="img/ending-02.png", alt="Вкладыш в свидетельство")
            .ending__item-text-part Вкладыш в свидетельство о профессиональной <br>переподготовке с результатами аттестации
    .works
      .container
        h2.works__header Где работают наши выпускники
        .works-items
          .works__item
            .works__item-image-part
              img.works__item-image(src="img/works-01.png", alt="")
            .works__item-text-part ООО Вириал
          .works__item
            .works__item-image-part
              img.works__item-image(src="img/works-02.png", alt="")
            .works__item-text-part ООО Сочувствие
          .works__item
            .works__item-image-part
              img.works__item-image(src="img/works-03.png", alt="")
            .works__item-text-part «Центральный научно-исследовательский институт робототехники и технической кибернетики»
          .works__item
            .works__item-image-part
              img.works__item-image(src="img/works-04.png", alt="")
            .works__item-text-part СПб ГУП Пассажиравтотранс
          .works__item
            .works__item-image-part
              img.works__item-image(src="img/works-05.png", alt="")
            .works__item-text-part ПАО Техприбор
          .works__item
            .works__item-image-part
              img.works__item-image(src="img/works-06.png", alt="")
            .works__item-text-part ПАО Звезда
          .works__item
            .works__item-image-part
              img.works__item-image(src="img/works-07.png", alt="")
            .works__item-text-part ООО Балтийский завод
          .works__item
            .works__item-image-part
              img.works__item-image(src="img/works-08.png", alt="")
            .works__item-text-part ООО Ленинградский завод спец. крепежа
        a.works__button.btn.a-btn-h(href="#")
          span Показать еще
    .cta
      .container
        .cta__inner
          .cta__text-part
            p.cta__header Пройдите обучение на станках с ЧПУ
            p.cta__text Повысьте разряд и зарплату
          a.cta__button.btn.a-btn-v(href="#callback")
            span Отправить заявку
    .faq#faq
      .container
        h2.faq__header Вопросы и ответы
        .faq-accordion.accordion
          .faq-items.accordion-items
            .faq__item.accordion__item
              .faq__item-question.accordion__item-question В какое время проходят занятия?
              .faq__item-answer.accordion__item-answer Слушатели смогут совмещать работу с учебой. Курсы проходят с 18:00 до 21:00 с перерывом 20 минут в 19:20 по адресу Санкт-Петербург, ул. Бабушкина, д.119
            .faq__item.accordion__item
              .faq__item-question.accordion__item-question На каком оборудовании будут проходить практические занятия?
              .faq__item-answer.accordion__item-answer Учим работать на типовых токарных и фрезерных станках, после обучения выпускник легко освоит подобное оборудование. В цехе установлены станки ACCUWAY-UL15 с системой ЧПУ SIEMENS SINUMERIK 828D, станки ACCUWAY-UM50 с ЧПУ: FANUC Oi-mate, симуляторы CNCTraining Machine
            .faq__item.accordion__item
              .faq__item-question.accordion__item-question Какой разряд получит специалист после прохождения курсов?
              .faq__item-answer.accordion__item-answer В нашем центре ученики получают любые разряды. По программе «Подготовка/Переподготовка» выдаем 3 разхряд для операторов и 4 для наладчиков. Профессиональный уровень можно повысить при прохождении последующих курсов или на производственной практике у наших партнеров.
    .feedback#feedback
      .container
        h2.feedback__header Хотите записаться на бесплатное занятие <br>на курсах операторов станков с ЧПУ?
        p.feedback__subheader Оставьте заявку
        form.feedback-form
          input.feedback-form__name(type="text" placeholder='Ваше имя')
          input.feedback-form__phone(type="text" placeholder='+7 (___) ___-__-__' name='phone' required)
          button.feedback-form__submit.btn.a-btn-v(type='submit')
            span Отправить
  .main-footer
    .main-footer-top
      .container
        .main-footer-top__inner
          .logo
            a.logo__link(href="/")
              img.logo__image(src="img/logo.png", alt="")
          .footer-menu.footer-menu_01
            ul.footer-menu-items
              li.footer-menu__item
                a.footer-menu__link(href="#study") О нас
              li.footer-menu__item
                a.footer-menu__link(href="#programs") Программы обучения
              li.footer-menu__item
                a.footer-menu__link(href="#") Политика конфиденциальности
          .footer-menu.footer-menu_02
            ul.footer-menu-items
              li.footer-menu__item
                a.footer-menu__link(href="#ending") Дипломы и трудоустройство
              li.footer-menu__item
                a.footer-menu__link(href="#faq") Вопросы и ответы
          .footer-contacts
            p.footer-contacts__address 192174, Санкт-Петербург, <br>ул. Бабушкина, д.119
            a.footer-contacts__phone(href="#") +7 (812) 367-21-68
            p.footer-contacts__whours ежедневно с 9:00 до 21:00
            a.footer-contacts__email(href="mailto:info@mir-kursov.ru") info@mir-kursov.ru
    .main-footer-bottom
      .container
        .main-footer-bottom__inner
          p © 2017
          p Создание сайта: 
            a(href="//1ps.ru" target='_blank') 1ps.ru
  #top
  form.intro-form.mfp-hide#callback
    p.intro-form__header Обратный звонок
    input.intro-form__name(placeholder='Ваше имя')
    input.intro-form__phone(placeholder='+7 (___) ___-__-__' name='phone' required)
    button.intro-form__submit.btn.a-btn-v(type='submit')
      span Отправить
  script(src='js/libs.min.js')
  script(src='js/scripts.js')
