doctype html
head
  meta(charset='utf-8')
  title Курсы операторов станков с ЧПУ. Курсы наладчиков станков с ЧПУ. Мир Курсов, Санкт-Петербург, тел. +7 (812) 367-21-68
  meta(name='description' content='Обучение операторов ЧПУ в Санкт-Петербурге. Проводим обучение на станках с ЧПУ: повышение квалификации и разряда, переподготовка. Курсы наладчиков станков с ЧПУ и операторов от 12000 рублей. Курсы ЧПУ при СПБ ГБПОУ НМТ. Тел. +7 (812) 367-21-68')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/libs.min.css')
  link(rel='stylesheet' href='css/style.css')
body
  .main-header
    include components/header/header-top.pug
    include components/header/header-bottom.pug
  .main-content
    include components/sections/intro.pug
    include components/sections/study.pug
    include components/sections/programs.pug
    include components/sections/ending.pug
    include components/sections/works.pug
    include components/sections/cta.pug
    include components/sections/faq.pug
    include components/sections/feedback.pug
  .main-footer
    include components/footer/footer-top.pug
    include components/footer/footer-bottom.pug
  #top
  include components/sections/modal.pug
  script(src='js/libs.min.js')
  script(src='js/scripts.js')
