.cta
  .container
    .cta__inner
      .cta__text-part
        p.cta__header Пройдите обучение на станках с ЧПУ
        p.cta__text Повысьте разряд и зарплату
      a.cta__button.btn.a-btn-v(href="#callback")
        span Отправить заявку
// cta
