.ending#ending
  .container
    h2.ending__header После прохождения курсов <br>слушатели получают
    .ending-items
      .ending__item
        .ending__item-image-part
          a.ending__item__link(href="img/ending-01.png")
            img.ending__item-image(src="img/ending-01.png", alt="Государственное свидетельство")
        .ending__item-text-part Государственное свидетельство <br>о профессиональной переподготовке
      .ending__item
        .ending__item-image-part
          a.ending__item__link(href="img/ending-02.png")
            img.ending__item-image(src="img/ending-02.png", alt="Вкладыш в свидетельство")
        .ending__item-text-part Вкладыш в свидетельство о профессиональной <br>переподготовке с результатами аттестации
// ending
