-
  const ending = [
    {
      src: 'img/ending-01.png',
      alt: 'Государственное свидетельство',
      text: 'Государственное свидетельство <br>о профессиональной переподготовке'
    },
    {
      src: 'img/ending-02.png',
      alt: 'Вкладыш в свидетельство',
      text: 'Вкладыш в свидетельство о профессиональной <br>переподготовке с результатами аттестации'
    }
  ]

.ending#ending
  .container
    h2.ending__header После прохождения курсов <br>слушатели получают
    .ending-items
      each item in ending
        .ending__item
          .ending__item-image-part
            a.ending__item__link(href=item.src)
              img.ending__item-image(src=item.src, alt=item.alt)
          .ending__item-text-part !{item.text}
// ending
