.faq#faq
  .container
    h2.faq__header Вопросы и ответы
    .faq-accordion.accordion
      .faq-items.accordion-items
        .faq__item.accordion__item
          .faq__item-question.accordion__item-question В какое время проходят занятия?
          .faq__item-answer.accordion__item-answer Слушатели смогут совмещать работу с учебой. Курсы проходят с 18:00 до 21:00 с перерывом 20 минут в 19:20 по адресу Санкт-Петербург, ул. Бабушкина, д.119
        .faq__item.accordion__item
          .faq__item-question.accordion__item-question На каком оборудовании будут проходить практические занятия?
          .faq__item-answer.accordion__item-answer Учим работать на типовых токарных и фрезерных станках, после обучения выпускник легко освоит подобное оборудование. В цехе установлены станки ACCUWAY-UL15 с системой ЧПУ SIEMENS SINUMERIK 828D, станки ACCUWAY-UM50 с ЧПУ: FANUC Oi-mate, симуляторы CNCTraining Machine
        .faq__item.accordion__item
          .faq__item-question.accordion__item-question Какой разряд получит специалист после прохождения курсов?
          .faq__item-answer.accordion__item-answer В нашем центре ученики получают любые разряды. По программе «Подготовка/Переподготовка» выдаем 3 разхряд для операторов и 4 для наладчиков. Профессиональный уровень можно повысить при прохождении последующих курсов или на производственной практике у наших партнеров.
// faq
