.feedback#feedback
  .container
    h2.feedback__header Хотите записаться на бесплатное занятие <br>на курсах операторов станков с ЧПУ?
    p.feedback__subheader Оставьте заявку
    form.feedback-form
      input.feedback-form__name(type="text" placeholder='Ваше имя')
      input.feedback-form__phone(type="text" placeholder='+7 (___) ___-__-__' name='phone' required)
      button.feedback-form__submit.btn.a-btn-v(type='submit')
        span Отправить
// feedback
