.intro
  .container
    .intro__inner
      .intro__left
        h1.intro__header Курсы операторов станков <br>с ЧПУ и наладчиков
        p.intro__subheader Повысьте квалификацию или разряд <br>и получайте зарплату выше на 15–30%
      .intro__right
        form.intro-form
          p.intro-form__header Ознакомительное занятие курсов ЧПУ бесплатно
          p.intro-form__text Оставьте заявку
          input.intro-form__name(placeholder='Ваше имя')
          input.intro-form__phone(placeholder='+7 (___) ___-__-__' name='phone' required)
          button.intro-form__submit.btn.a-btn-v(type='submit')
            span Отправить
// intro
