.programs#programs
  .container
    h2.programs__header Программы обучения на станках с ЧПУ
    .programs-tabs-block.tabs-block
      .programs-tabs-controls.tabs-controls
        .programs-tabs__control.tabs__control Оператор
        .programs-tabs__control.tabs__control Наладчик
        .programs-tabs__control.tabs__control Оператор-наладчик
      .programs-tabs__content.tabs__content
        p.programs__text Слушатели узнают, принцип работы обслуживаемых станков, правила управления ими, назначение условных знаков на панели управления, правила чтения чертежей, освоят систему допусков и посадок.
        p.programs__header_small После окончания курсов операторов станков с ЧПУ выпускники смогут:
        ul.programs-list
          li.programs-list__item читать техническое задание,
          li.programs-list__item контролировать работу систем обслуживания станка,
          li.programs-list__item вводить программы для изготовления деталей,
          li.programs-list__item проверять качество готовой продукции,
          li.programs-list__item установить и снять изделие после обработки.
        table.programs-table
          thead
            tr
              td Категория курса
              td Описание
              td Кол-во часов
              td Цена, руб
          tbody
            tr
              td Повышение разряда
              td Получение нового квалификационного уровня для допуска к более сложной работе и ответственной должности
              td 16
              td 12 000
            tr
              td Повышение квалификации
              td Комплексное обучение актуальным методам работы, техническим и правовым нововведениям
              td 72
              td 25 000
            tr
              td Подготовка/Переподготовка
              td Подготовка кадров для производственных предприятий с нуля или на базе полученного ранее образования
              td 120
              td 37 000
        p.programs__header_small(style='text-align:center;') Ближайшие занятия пройдут:
        .programs-items
          .programs__item
            p.programs__item-text Повышение разряда
            p.programs__item-date 1 июля 2017 года
          .programs__item
            p.programs__item-text Повышение квалификации
            p.programs__item-date 5 июля 2017 года
          .programs__item
            p.programs__item-text Подготовка/переподготовка
            p.programs__item-date 10 июля 2017 года
        a.programs__button.btn.a-btn-v(href="#callback")
          span Отправить заявку
      .programs-tabs__content.tabs__content
        p.programs__text Слушатели узнают, как устроено металлорежущее оборудование и установленные на нем программы, научатся диагностировать состояние разных типов станков, ремонтировать их и настраивать для конкретных производственных задач.
        p.programs__header_small После окончания курсов наладчиков станков с ЧПУ выпускники смогут:
        ul.programs-list
          li.programs-list__item выявлять неисправности станков,
          li.programs-list__item устранять программные ошибки,
          li.programs-list__item проверять работу в мануальном режиме,
          li.programs-list__item проводить пусконаладку оборудования.
        table.programs-table
          thead
            tr
              td Категория курса
              td Описание
              td Кол-во часов
              td Цена, руб
          tbody
            tr
              td Повышение разряда
              td Получение нового квалификационного уровня для допуска к более сложной работе и ответственной должности
              td 16
              td 12 000
            tr
              td Повышение квалификации
              td Комплексное обучение актуальным методам работы, техническим и правовым нововведениям
              td 72
              td 25 000
            tr
              td Подготовка/Переподготовка
              td Подготовка кадров для производственных предприятий с нуля или на базе полученного ранее образования
              td 120
              td 45 000
        p.programs__header_small(style='text-align:center;') Ближайшие занятия пройдут:
        .programs-items
          .programs__item
            p.programs__item-text Повышение разряда
            p.programs__item-date 1 июля 2017 года
          .programs__item
            p.programs__item-text Повышение квалификации
            p.programs__item-date 5 июля 2017 года
          .programs__item
            p.programs__item-text Подготовка/переподготовка
            p.programs__item-date 10 июля 2017 года
        a.programs__button.btn.a-btn-v(href="#callback")
          span Отправить заявку
      .programs-tabs__content.tabs__content
        p.programs__text Комплексная программа. Слушатели разберутся в работе различных типов станков, смогут проверить качество производимой продукции, провести диагностику оборудования и устранить типичные неисправности и ошибки программы.
        p.programs__header_small После окончания курсов выпускники смогут:
        ul.programs-list
          li.programs-list__item сориентироваться в типах станков,
          li.programs-list__item проверить исправность оборудования,
          li.programs-list__item написать программу для изготовления детали,
          li.programs-list__item устранить типичные ошибки в работе техники.
        table.programs-table
          thead
            tr
              td Категория курса
              td Описание
              td Кол-во часов
              td Цена, руб
          tbody
            tr
              td Повышение разряда
              td Получение нового квалификационного уровня для допуска к более сложной работе и ответственной должности
              td 16
              td 12 000
            tr
              td Повышение квалификации
              td Комплексное обучение актуальным методам работы, техническим и правовым нововведениям
              td 72
              td 25 000
            tr
              td Подготовка/Переподготовка
              td Подготовка кадров для производственных предприятий с нуля или на базе полученного ранее образования
              td 120
              td 45 000
        p.programs__header_small(style='text-align:center;') Ближайшие занятия пройдут:
        .programs-items
          .programs__item
            p.programs__item-text Повышение разряда
            p.programs__item-date 1 июля 2017 года
          .programs__item
            p.programs__item-text Повышение квалификации
            p.programs__item-date 5 июля 2017 года
          .programs__item
            p.programs__item-text Подготовка/переподготовка
            p.programs__item-date 10 июля 2017 года
        a.programs__button.btn.a-btn-v(href="#callback")
          span Отправить заявку
// programs
