.works
  .container
    h2.works__header Где работают наши выпускники
    .works-items
      .works__item
        .works__item-image-part
          img.works__item-image(src="img/works-01.png", alt="")
        .works__item-text-part ООО Вириал
      .works__item
        .works__item-image-part
          img.works__item-image(src="img/works-02.png", alt="")
        .works__item-text-part ООО Сочувствие
      .works__item
        .works__item-image-part
          img.works__item-image(src="img/works-03.png", alt="")
        .works__item-text-part «Центральный научно-исследовательский институт робототехники и технической кибернетики»
      .works__item
        .works__item-image-part
          img.works__item-image(src="img/works-04.png", alt="")
        .works__item-text-part СПб ГУП Пассажиравтотранс
      .works__item
        .works__item-image-part
          img.works__item-image(src="img/works-05.png", alt="")
        .works__item-text-part ПАО Техприбор
      .works__item
        .works__item-image-part
          img.works__item-image(src="img/works-06.png", alt="")
        .works__item-text-part ПАО Звезда
      .works__item
        .works__item-image-part
          img.works__item-image(src="img/works-07.png", alt="")
        .works__item-text-part ООО Балтийский завод
      .works__item
        .works__item-image-part
          img.works__item-image(src="img/works-08.png", alt="")
        .works__item-text-part ООО Ленинградский завод спец. крепежа
    a.works__button.btn.a-btn-h(href="#")
      span Показать еще
// works
